body{
  /*min-height: 50rem;
  padding-top: 3.5rem;*/
  
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background: url(./../img/screen-fondo.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(6px) /*brightness(0.4)*/;
  overflow: hidden;
}

/*
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 10px;
  border-right: 2px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
*/

.list-group-item.list-group-item-action.bg-dark.text-light.active2{
  background: linear-gradient(#00000071, #060207b9);
}

.scrolleable {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  padding-bottom: 70px;
}

#page-content-wrapper{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  max-width: 100%;
  padding-bottom: 70px;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 780px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}